[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
testfixtures = "*"
pytest-xdist = "*"
requests = ">=2.20.0"
urllib3 = ">=1.24.3"
chardet = ">=3.0.4"
flake8 = "*"
yapf = "~=0.28.0"
hacking = ">=1.1.0"
flake8-import-order = ">=0.18.1"
bandit = ">=1.6.0"

[packages]
click = ">=6.7"
jsonschema = "~=2.6.0"
cryptography = "~=2.3.1"
python-dateutil = "~=2.7.3"
GitPython = "~=2.1.11"
docker = ">=3.7.2"
pylibyaml = "~=0.1"
PyYAML = "~=5.1"
deckhand = {git = "https://opendev.org/airship/deckhand.git",ref = "e7ba6828a0a1ca27fae596f6e0ee5a857f28001d"}
shipyard-client = {git = "https://opendev.org/airship/shipyard.git",ref = "70410cc478e6aec4abad88c84d68684edfedb376",subdirectory = "src/bin/shipyard_client"}
promenade = {git = "https://opendev.org/airship/promenade.git",ref = "c302a083a61c22b94b71eccb9a3665d23c6497dc"}
"oslo.i18n" = "~=3.24.0"
"oslo.utils" = "~=3.40.2"
six = "~=1.11.0"
debtcollector = "~=1.22.0"
zipp = "~=1.2.0"

[requires]
python_version = "3.6"
