[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
testfixtures = "*"
pytest-xdist = "*"
requests = ">=2.20.0"
urllib3 = ">=1.24.3"
chardet = ">=3.0.4"
flake8 = "*"
yapf = ">=0.27.0"
hacking = ">=1.1.0"
flake8-import-order = ">=0.18.1"
bandit = ">=1.6.0"

[packages]
click = ">=6.7"
jsonschema = "~=2.6.0"
cryptography = "~=2.3.1"
python-dateutil = "~=2.7.3"
GitPython = "~=2.1.11"
docker = ">=3.7.2"
PyYAML = "~=5.1"
deckhand = {git = "https://opendev.org/airship/deckhand.git",ref = "51dcea4fa12b0bcce65c381c286e61378a0826e2"}
shipyard-client = {git = "https://opendev.org/airship/shipyard.git",ref = "72ca47e5c9ae8b7b1dcccd7742be6499f0411650",subdirectory = "src/bin/shipyard_client"}
promenade = {git = "https://opendev.org/airship/promenade.git",ref = "d476b8a3b5a4977ac9f0e5f89e5e24cae9953216"}
oslo-utils = "~=3.41.0"
six = "<=1.12.0"

[requires]
python_version = "3.6"
