[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "~=1.6.0"
pytest = "*"
pytest-cov = "*"
testfixtures = "*"
pytest-xdist = "*"
requests = ">=2.20.0"
urllib3 = ">=1.24.3"
chardet = ">=3.0.4"
flake8 = "*"
yapf = "~=0.28.0"
hacking = ">=1.1.0"
flake8-import-order = ">=0.18.1"

[packages]
click = "*"
jsonschema = "*"
cryptography = "*"
python-dateutil = "*"
GitPython = "*"
docker = "*"
pylibyaml = "*"
PyYAML = "*"
deckhand = {git = "https://opendev.org/airship/deckhand.git",ref = "03f6932e16aa0b72a32a10fc04a52125c45dd5d7"}
shipyard-client = {git = "https://opendev.org/airship/shipyard.git",ref = "b7e7d253086edcbc62183d17f3d92f009242bd2e",subdirectory = "src/bin/shipyard_client"}
promenade = {git = "https://opendev.org/airship/promenade.git",ref = "97e3721a03ca48d312891694972b827a53714bf9"}
"oslo.i18n" = "*"
"oslo.utils" = "*"
six = "*"
debtcollector = "*"
zipp = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
