gitpython
click==6.7
jsonschema==2.6.0
pyyaml==3.12
cryptography==2.3.1
python-dateutil==2.7.3

# External dependencies
git+https://opendev.org/airship/deckhand.git@49ad9f38842f7f1ecb86d907d86d332f8186eb8c
git+https://opendev.org/airship/shipyard.git@44f7022df6438de541501c2fdd5c46df198b82bf#egg=shipyard_client&subdirectory=src/bin/shipyard_client
git+https://opendev.org/airship/promenade.git@a6e8fdbe22bd153c78a008b92cd5d1c245bc63e3
