jsonschema
python-dateutil
GitPython
docker
pylibyaml
PyYAML
six
debtcollector
zipp
psycopg2-binary

# Airship dependencies
deckhand @ git+https://opendev.org/airship/deckhand.git@4d500e48e880ea7f9a3582324c55c61373a855ea#egg=deckhand
shipyard-client @ git+https://opendev.org/airship/shipyard.git@2fb62659c5a3eecafcf0d0dedaabf2a00fc5d88f#egg=shipyard-client&subdirectory=src/bin/shipyard_client
promenade @ git+https://opendev.org/airship/promenade.git@e491bc4ca7a9764325ab4a2cf1ae10daf6a26efb#egg=promenade


# Openstack Caracal 2024.1
# https://releases.openstack.org/caracal/index.html
barbican==18.0.0

python-barbicanclient==5.7.0
python-keystoneclient==5.4.0

keystoneauth1==5.6.0
keystonemiddleware==10.6.0

oslo.cache==3.7.0
oslo.concurrency==6.0.0
oslo.config==9.4.0
oslo.context==5.5.0
oslo.db==15.0.0
oslo.i18n==6.3.0
oslo.log==5.5.1
oslo.messaging==14.7.2
oslo.metrics==0.8.0
oslo.middleware==6.1.0
oslo.policy==4.3.0
oslo.serialization==5.4.1
oslo.service==3.4.1
oslo.upgradecheck==2.3.0
oslo.utils==7.1.0
oslo.versionedobjects==3.3.0
