gitpython==2.1.11
click==6.7
jsonschema==2.6.0
pyyaml==5.1
cryptography==2.3.1
python-dateutil==2.7.3
docker==3.7.2
requests==2.20.0
urllib3==1.24.3
chardet==3.0.4
oslo.utils==3.41.0

# External dependencies
git+https://opendev.org/airship/deckhand.git@134c55805b13b2d3f430a7c0fee840990c55c0aa
git+https://opendev.org/airship/shipyard.git@aeb0c198b196dbc69190299fe98df4137faf0333#egg=shipyard_client&subdirectory=src/bin/shipyard_client
git+https://opendev.org/airship/promenade.git@32a6c15ffd6c283375bfd1cc9ae82f9232a9b501
