-i https://pypi.org/simple
asn1crypto==1.2.0
babel==2.7.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
click==7.0
cryptography==2.3.1
debtcollector==1.22.0
docker==4.1.0
git+https://opendev.org/airship/deckhand.git@51dcea4fa12b0bcce65c381c286e61378a0826e2#egg=deckhand
git+https://opendev.org/airship/promenade.git@d476b8a3b5a4977ac9f0e5f89e5e24cae9953216#egg=promenade
git+https://opendev.org/airship/shipyard.git@72ca47e5c9ae8b7b1dcccd7742be6499f0411650#egg=shipyard-client&subdirectory=src/bin/shipyard_client
gitdb2==2.0.6
gitpython==2.1.14
idna==2.8
iso8601==0.1.12
jsonschema==2.6.0
netaddr==0.7.19
netifaces==0.10.9
oslo-utils==3.41.2
oslo.i18n==3.24.0
pbr==5.4.3
pycparser==2.19
pyparsing==2.4.5
python-dateutil==2.7.5
pytz==2019.3
pyyaml==5.1.2
requests==2.22.0
six==1.12.0
smmap2==2.0.5
urllib3==1.25.7
websocket-client==0.56.0
wrapt==1.11.2
